body{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.logo_img img{
    margin: auto;
}

.bg-light {
    background-color: #f1f2f6!important;
}
.menu{
    background-color:#f1f2f6    ;
}